img {
    object-fit: cover;
    width:100%;
    height: auto;
    max-height: 90vh;
    z-index: -1;
}

.donate-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers the text vertically */
    position: relative;
    overflow: hidden;
}


.donate-header {
    position: absolute;
    color:  rgb(255, 255, 255);
    text-align: center;
    padding: 10px; /* optional: adds padding for better readability */
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    font-size: 7rem;
}

.msa-fund-container {
    margin: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fund-header {
    margin-bottom: 15px;
    text-align: center;
    color: rgb(34, 31, 65);
    transition: transform 0.3s ease-in-out; 
    font-size: 2.5rem;
}

.fund-header:hover {
    transform: scale(1.05);
}

.msaFund-pic {
    width: 80%;
    border: 10px solid  rgb(34, 31, 65);
    border-radius: 10px;
}

.fund-caption {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 1.1rem;
}

.charity-fund-container {
    margin: 50px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.charityFund-pic {
    width: 80%;
    border: 10px solid rgb(34, 31, 65); 
    border-radius: 10px;
}

@media (max-width: 768px) {
    .donate-header {
        font-size: 4rem;
    }

    .msaFund-pic {
        width: 100%;
    }

    .charityFund-pic {
        width: 100%
    }

    .fund-caption {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .donate-header {
        font-size: 3rem;
    }

}
