img {
    object-fit: cover;
    width:100%;
    height: 100%;
    z-index: -1;
}

.events-photo {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    justify-content: center;
}
.events-header{
    position: absolute;
    color:  rgb(226, 186, 6);
    color: white;
    text-align: center;
    padding: 10px; /* optional: adds padding for better readability */
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    font-size: 7rem;
}

.calendar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .upcoming-events {
    color: rgb(34, 31, 65);
    transition: transform 0.3s ease-in-out; 
    font-size: 2.3rem;
    margin-bottom: 20px;
  }

  .upcoming-events:hover {
    transform: scale(1.05);
  }

  .event-types {
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .type-header {
    color: rgb(34, 31, 65);
    transition: transform 0.3s ease-in-out; 
    font-size: 2.3rem;
    margin-bottom: 40px;
  }

  .type-header:hover {
    transform: scale(1.05);
  }

  .social, .religion, .education, .career {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .event-text {
    text-align: center;
  }

  .event-header {
    text-align: center;
    color:  rgb(226, 186, 6);
    transition: transform 0.3s ease-in-out; 
    font-size: 2.3rem;
  }

  .event-header:hover {
    transform: scale(1.05);
  }

  .event-caption {
    color: rgba(34, 31, 65, 0.833);
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .type-img {
    width: 45%;
    height: auto;
    border: 15px solid rgb(34, 31, 65); /* Add a thick border to the image */
    border-radius: 10px;
  }